<div class="row justify-content-center text-center">
    <div class="col-lg-8">
        <h1 class="display-4 mb-3">{{ T "welcome_title" }}</h1>
        <p class="lead mb-4">
            {{ T "welcome_description" }}
        </p>
        <p class="fs-5 mb-4">
            {{ T "welcome_description_2" }}
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            
            {{ if eq .Site.Language.Lang "fr" }}
                <a href="{{ "appartements" | relLangURL }}" class="btn btn-primary btn-lg px-4 gap-3">
                    {{ T "view_apartments" }}
                </a>
            {{ else }}
                <a href="{{ "apartments" | relLangURL }}" class="btn btn-primary btn-lg px-4 gap-3">
                    {{ T "view_apartments" }}
                </a>
            {{ end }}
            <a href="{{ "contact" | relLangURL }}" class="btn btn-outline-primary btn-lg px-4">{{ T "contact_us" }}</a>
        </div>
    </div>
</div>