<div class="row justify-content-center">
    <div class="contact-info">
     <p class="mb-4">{{ T "we_speak" }}</p>
      <p class="mb-3">{{ T "we_speak_2" }}</p>
      <ul class="list-unstyled mb-4">
        <li class="mb-2 d-flex align-items-center">
            <svg xmlns='http://www.w3.org/2000/svg' class='feather text-primary-terractotta feather-medium'>
                <use href="{{ `images/feather/feather-sprite.svg#check` | relURL }}"/>
            </svg>
            <h6 class="h6 my-3 mx-2 text-primary-terractotta">{{ T "contact_name_apart" }} <small class="d-none">📈</small></h6>
        </li>
        <li class="mb-2 d-flex align-items-center">
          <svg xmlns='http://www.w3.org/2000/svg' class='feather text-primary-terractotta feather-medium'>
              <use href="{{ `images/feather/feather-sprite.svg#check` | relURL }}"/>
          </svg>
          <h6 class="h6 my-3 mx-2 text-primary-terractotta">{{ T "contact_dates" }} <small class="d-none">📈</small></h6>
        </li>
        <li class="mb-2 d-flex align-items-center">
          <svg xmlns='http://www.w3.org/2000/svg' class='feather text-primary-terractotta feather-medium'>
            <use href="{{ `images/feather/feather-sprite.svg#check` | relURL }}"/>
          </svg>
          <h6 class="h6 my-3 mx-2 text-primary-terractotta">{{ T "contact_guests" }} <small class="d-none">📈</small></h6>
        </li>
      </ul>
      <div class="alert alert-custom" role="alert">
        <i class="feather feather-info"></i>
        <strong>{{ T "contact_note" }}</strong>
      </div>
    </div>
  </div>  